* {
  margin: 0%;
  padding: 0%;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  /* background: #1d2936; */
  background: #010a14;
  text-rendering: auto;
}

/* .navbar-container {
  height: 80px;
} */

.navbar {
  color: #ddd;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  /* background: #101321; */
  background: #0b1520;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbar img {
  width: 200px;
  margin-left: 35px;
  margin-top: 5px;
}

.navbar ul {
  width: 95%;
}

.navbar ul li {
  display: flex;
  list-style: none;
  float: right;
  text-align: center;
  color: #dddddd;
  padding: 20px 5px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.navbar ul li:nth-child(5) {
  margin-right: 25px;
}

.navbar ul li:nth-child(1) {
  gap: 5px;
}

form {
  width: 55%;
}

.search-bar input {
  background-color: transparent;
  padding: 1px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0;
  /* width: 80%; */
}

.navbar ul li:hover {
  color: #fff;
}

.navbar img {
  cursor: pointer;
}

.icon-log {
  font-size: 18px;
}

.icon-reg {
  font-size: 18px;
  margin-right: 5px;
}

.search-icon {
  margin-right: 20px;
  color: #e2e0e0;
}

.bars-icon {
  margin-left: 10px;
  margin-bottom: 18px;
  font-size: 30px;
  cursor: pointer;
  color: #e2e0e0;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.name {
  background: #fff;
}

/* Loader */

.spinner {
  display: flex;
  margin: auto;
}

.slider-headers {
  display: inline-block;
  color: #ddd;
  margin-left: 50px;
  font-size: 20px;
  border-bottom: none;
  text-decoration: none;
}

.slider-headers:hover {
  color: #e0ac1f;
}

@media (max-width: 790px) {
  .search-bar {
    width: 10%;
    height: 10px;
  }

  .search-icon {
    display: none;
  }

  .search-bar input {
    font-size: 13px;
    background: transparent;
    width: 120px;
    padding: 10px;
    margin-left: -30px;
    margin-top: -10px !important;
  }
}

@media (max-width: 678px) {
  .navbar ul li {
    font-size: 12px;
  }

  .search-bar {
    width: 10%;
    height: 10px;
  }

  .search-icon {
    display: none !important;
  }

  .search-bar input {
    font-size: 10px;
    background: transparent;
    width: 70px;
    padding: 10px;
    margin-left: -30px;
  }

  .search-icon {
    display: initial;
  }

  .icon-reg {
    font-size: 13px;
  }
  .icon-log {
    font-size: 13px;
  }

  .navbar img {
    width: 150px;
    height: 70px;
  }
  .bars-icon {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .search-bar {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .slider-headers {
    margin-left: 20px;
    font-size: 13px;
  }
}

@media screen and (max-width: 677px) {
  .search-bar input {
    width: 90px !important;
    margin-top: -10px !important;
  }
}

@media screen and (max-width: 499px) {
  .navbar ul li {
    font-size: 9px;
  }
  .icon-reg {
    font-size: 11px;
  }
  .icon-log {
    font-size: 11px;
  }

  .navbar img {
    width: 100px;
    height: 65px;
  }
  .bars-icon {
    font-size: 15px;
  }
}
